<div>

    <div class="flex flex-col items-center space-y-4 my-6">
      <div class="text-xl font-sans">Modifica Password</div>
      <div class="flex flex-col items-center" *ngIf="authService.user | async as user">
        <div>Account: <strong>{{ user.name }}</strong></div>
        <div class="font-extralight">{{ user.firstName }} {{ user.lastName }}</div>
      </div>
    </div>
  
    <form *ngIf="!changed" name="form" [formGroup]="changePasswordForm"
      (ngSubmit)="onSubmit()" #f="ngForm" novalidate
      class="mx-6 my-auto sm:m-auto flex flex-col items-center mat-elevation-z8 px-6 pb-8 pt-2 bg-gray-100 rounded-lg sm:w-96">
  
      <div class="h-1 sm:w-96 w-full mb-5">
        <mat-progress-bar *ngIf="changing" mode="indeterminate"></mat-progress-bar>
      </div>
  
  
      <div cdkTrapFocus [cdkTrapFocusAutoCapture]="true">
  
        <mat-form-field appearance="outline" class="w-full">
          <mat-label>Vecchia password</mat-label>
          <input cdkFocusInitial matInput [type]="hideOld ? 'password' : 'text'"
            autocomplete="off" name="oldPassword" formControlName="oldPassword" required>
          <mat-icon matSuffix (click)="hideOld = !hideOld" style="cursor: pointer;">
            {{hideOld ? 'visibility_off' : 'visibility'}}</mat-icon>
          <mat-error *ngIf="oldPasswordFormControl.hasError('required')">
            La vecchia password è obbligatoria
          </mat-error>
        </mat-form-field>
  
        <mat-form-field appearance="outline" class="w-full">
          <mat-label>Nuova password</mat-label>
          <input matInput [type]="hideNew ? 'password' : 'text'" autocomplete="off"
            name="newPassword" formControlName="newPassword" required>
          <mat-icon matSuffix (click)="hideNew = !hideNew" style="cursor: pointer;">
            {{hideNew ? 'visibility_off' : 'visibility'}}</mat-icon>
          <mat-error *ngIf="newPasswordFormControl.hasError('required')">
            La nuova password è obbligatoria
          </mat-error>
        </mat-form-field>
  
        <mat-form-field appearance="outline" class="w-full">
          <mat-label>Conferma password</mat-label>
          <input matInput [type]="hideConfirm ? 'password' : 'text'" autocomplete="off"
            name="confirmNewPassword" formControlName="confirmNewPassword" required
            [errorStateMatcher]="confirmValidParentMatcher">
          <mat-icon matSuffix (click)="hideConfirm = !hideConfirm" style="cursor: pointer;">
            {{hideConfirm ? 'visibility_off' : 'visibility'}}</mat-icon>
          <mat-error *ngIf="confirmNewPasswordFormControl.hasError('required')">
            La conferma della nuova password è obbligatoria
          </mat-error>
          <mat-error
            *ngIf="changePasswordForm.hasError('passwordMismatch') && !changePasswordForm.hasError('required')">
            Le password non corrispondono. Riprova.
          </mat-error>
        </mat-form-field>
  
        <div
          class="flex flex-col space-y-4 sm:space-y-0 sm:flex-row justify-center items-center w-full mt-8">
          <button mat-raised-button color="primary" type="submit"
            [disabled]="(f.form.valid === false) || (changing === true)"
            class="w-32 focus:outline-none">
            <span>{{ changing ? 'Attendere...' : failed ? 'Riprova' : 'Modifica' }}</span>
          </button>
        </div>
  
      </div>
  
    </form>
  
    <div class="flex items-center sm:mt-10 mt-4 sm:mx-20 mx-5">
      <div
        class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 w-full rounded text-center"
        role="alert" *ngIf="message$ | async as message">
        <strong class="font-bold text-xs sm:text-base">{{ message }}</strong>
      </div>
    </div>
  
  
    <div class="flex flex-col space-y-4 items-center"
      *ngIf="passwordChanged$ | async as passwordChanged">
      <div class="font-normal sm:text-xl text-xs text-blue-800">Password
        modificata con
        successo.</div>
      <div></div>
      <button mat-raised-button color="primary" type="button" (click)="onClick()"
        class="w-32 focus:outline-none">
        <span>Chiudi</span>
      </button>
    </div>
  
  </div>
  