<div class="mx-5 my-0">

    <div class="flex flex-row justify-between w-full items-center">
      <div class="flex flex-row space-x-4">
        <mat-form-field class="w-60">
          <mat-label>Cerca in</mat-label>
          <mat-select [(value)]="filterColumn" (valueChange)="loadData()">
            <mat-option value="">Tutti i campi</mat-option>
            <mat-option *ngFor="let c of columns" [value]="c.name">
              {{c.description}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field class="w-60">
          <mat-label>Cerca</mat-label>
          <input matInput placeholder="" #input autocomplete="off">
          <button *ngIf="!!input.value" matSuffix mat-icon-button aria-label="Clear" (click)="resetInput()">
            <mat-icon>close</mat-icon>
          </button>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Data formulario</mat-label>
          <mat-date-range-input [formGroup]="rangeDate" [rangePicker]="rangeDatePicker">
            <input matStartDate placeholder="da" formControlName="start" readonly>
            <input matEndDate placeholder="a" formControlName="end" readonly>
          </mat-date-range-input>
          <mat-datepicker-toggle matSuffix [for]="rangeDatePicker"></mat-datepicker-toggle>
          <mat-date-range-picker #rangeDatePicker>
            <mat-date-range-picker-actions>
              <button mat-button matDateRangePickerApply (click)="resetDate()" *ngIf="!!rangeDate.value.start">Cancella</button>
              <button mat-button matDateRangePickerCancel>Annulla</button>
              <button mat-raised-button color="primary" matDateRangePickerApply (click)="loadData()">Applica</button>
            </mat-date-range-picker-actions>
          </mat-date-range-picker>
        </mat-form-field>
      </div>
    </div>

    <div class="h-1">
      <mat-progress-bar mode="indeterminate" *ngIf="dataSource.loading$ | async as loading"></mat-progress-bar>
    </div>
    <div class="mat-elevation-z8">
      <div class="table-container">
        <table mat-table [dataSource]="dataSource" matSort [matSortActive]="defaultSortColumn" [matSortDirection]="defaultSortDirection" multiTemplateDataRows>
  
          <ng-container matColumnDef="state">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let form">
              <mat-icon class="material-icons-outlined mt-2" *ngIf="!!form.schedule && form.schedule.compiling" matTooltip="In Lavorazione" matTooltipClass="app-tooltip">science</mat-icon>
              <mat-icon class="material-icons-outlined mt-2" *ngIf="!!form.schedule && form.schedule.confirmed" matTooltip="Consolidata" matTooltipClass="app-tooltip">verified</mat-icon>
            </td>
          </ng-container>
  
          <ng-container matColumnDef="number">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Formulario</th>
            <td mat-cell class="" *matCellDef="let form">{{form.number}}</td>
          </ng-container>
  
          <ng-container matColumnDef="date">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Data form.</th>
            <td mat-cell class="" *matCellDef="let form">{{form.formDate | date:'dd/MM/yy'}}</td>
          </ng-container>
  
          <ng-container matColumnDef="authority">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Ente / Imp. / Dest.</th>
            <td mat-cell *matCellDef="let form">
              <div class="flex flex-col">
                <span class="font-medium whitespace-pre">{{!!form.authority ? form.authority : ' '}}</span>
                <span class="text-xs">{{plant(form.plant, form.district)}}</span>
                <span class="text-xs font-light">{{form.consignee}}</span>
              </div>
            </td>
          </ng-container>
  
          <ng-container matColumnDef="hauler">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Trasportatore</th>
            <td mat-cell *matCellDef="let form">{{ form.hauler }}</td>
          </ng-container>
  
  
          <ng-container matColumnDef="scheduleInfo">
            <th mat-header-cell *matHeaderCellDef>Lab. / Tipologia raccolta</th>
            <td mat-cell class="" *matCellDef="let form">
              <div class="flex flex-col">
                <span class="font-medium">{{form.schedule?.laboratoryName}}</span>
                <span class="">{{form.schedule?.recyclingTypeName}}</span>
              </div>
            </td>
          </ng-container>
  
          <ng-container matColumnDef="scheduleDate">
            <th mat-header-cell *matHeaderCellDef>Data prog.</th>
            <td mat-cell class="" *matCellDef="let form">{{form.schedule?.scheduledDate | date:'dd/MM/yy HH:mm'}}</td>
          </ng-container>
  
          <ng-container matColumnDef="ewc">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>CER</th>
            <td mat-cell class="" *matCellDef="let form">{{form.ewc}}</td>
          </ng-container>
  
          <ng-container matColumnDef="samplingDate">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Data camp.</th>
            <td mat-cell class="" *matCellDef="let form">{{form.samplingDate | date:'dd/MM/yy'}}</td>
          </ng-container>
  
          <ng-container matColumnDef="quantity">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Q.tà (Kg)</th>
            <td mat-cell class="" *matCellDef="let form">{{form.quantity | number}}</td>
          </ng-container>
  
          <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
          <tr mat-row *matRowDef="let element; columns: displayedColumns;" [class.cursor-pointer]="canSchedule" [class.cursor-default]="!canSchedule" class="hover:bg-gray-100" (click)="rowClick(element)"></tr>
        </table>
      </div>
  
      <div class="mt-0">
        <mat-paginator [length]="dataSource.length$ | async" [pageSize]="currentPageSize" [pageSizeOptions]="[10, 15, 20, 40]" (page)="resizePage()" showFirstLastButtons></mat-paginator>
      </div>
    </div>
  
  </div>
  
  
  
  
  
  