<div class="flex min-h-screen bg-gradient-to-r from-yellow-400 via-blue-400 to-green-500">
    <form *ngIf="!sent" name="form" [formGroup]="resetForm" (ngSubmit)="onSubmit()"
      #f="ngForm" novalidate
      class="mx-6 my-auto sm:m-auto flex flex-col items-center mat-elevation-z8 px-6 pb-8 pt-2 bg-gray-100 rounded-lg sm:w-96">
  
      <div class="h-1 sm:w-96 w-full">
        <mat-progress-bar *ngIf="sending" mode="indeterminate"></mat-progress-bar>
      </div>
  
      <div class="flex flex-col items-center space-y-4 my-6">
        <img class="h-14" src="../../assets/logo.svg">
        <div class="text-xl font-sans">Recupero dell'account</div>
      </div>
  
      <div cdkTrapFocus [cdkTrapFocusAutoCapture]="true">
  
        <mat-form-field appearance="outline" class="w-full">
          <mat-label>Utente</mat-label>
          <input cdkFocusInitial matInput type="text" autocomplete="off" name="username"
            [placeholder]="placeholder" formControlName="username" required>
          <mat-icon matSuffix>person</mat-icon>
          <!-- <mat-hint *ngIf="!username.value">Inserisci il tuo nome utente</mat-hint> -->
        </mat-form-field>
  
        <mat-form-field appearance="outline" class="w-full">
          <mat-label>Indirizzo email</mat-label>
          <input matInput type="email" formControlName="email" required>
          <mat-icon matSuffix>email</mat-icon>
          <mat-error
            *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
            Inserire un indirizzo email valido
          </mat-error>
          <mat-error *ngIf="emailFormControl.hasError('required')">
            L'indirizzo email è <strong>obbligatorio</strong>
          </mat-error>
        </mat-form-field>
  
  
        <div
          class="flex flex-col space-y-4 sm:space-y-0 sm:flex-row justify-between items-center w-full mt-8">
          <button mat-button color="primary" (click)="onClick()" type="button"
            class="focus:outline-none w-32">
            Annulla
          </button>
  
  
          <button mat-raised-button color="primary" type="submit"
            [disabled]="(f.form.valid === false) || (sending === true)"
            class="w-32 focus:outline-none">
            <span>{{ sending ? 'Invio...' : 'Avanti' }}</span>
          </button>
        </div>
  
      </div>
  
      <div class="flex items-center mt-5 h-12 sm:w-80 w-64">
        <div
          class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 w-full rounded truncate text-center"
          role="alert" *ngIf="message$ | async as message">
          <strong class="font-bold text-xs sm:text-base">{{ message }}</strong>
        </div>
      </div>
    </form>
  
    <div *ngIf="reset$ | async as reset"
      class="mx-8 my-auto sm:m-auto flex flex-col space-y-4 items-center mat-elevation-z8 px-6 pb-8 pt-2 bg-gray-100 rounded-lg">
  
      <div class="flex flex-col items-center space-y-4 my-6">
        <img class="h-14" src="../../assets/logo.svg">
        <div class="text-xl font-sans">Recupero dell'account</div>
      </div>
  
      <div class="font-normal sm:text-xl text-xs text-blue-800">Richiesta di
        reimpostazione della
        password
        inviata
        con
        successo.</div>
      <div class="font-semibold sm:text-xl text-xs text-blue-800">Controlla la tua email e
        segui le
        indicazioni
        riportate
      </div>
      <div></div>
      <button mat-raised-button color="primary" type="button" (click)="onClick()"
        class="w-32 focus:outline-none">
        <span>Login</span>
      </button>
    </div>
  
  </div>
  